@import '_variables.scss';

.article-card {
  padding: $common-length;
  min-height: 140px;
  padding-left: 8px;
  border: 1px solid var(--color-border);
  border-radius: $common-border-radius;
  position: relative;
  display: flex;
  transition: transform 0.25s, box-shadow 0.25s, background 0.25s;
  transform: scale(0.99);
  box-shadow: none;
  text-decoration: none;
  background-color: var(--color-background-secondary);
  &.loaded {
    background-color: var(--color-background);
    border: 1px solid var(--color-border-secondary);
    transform: scale(1);
    box-shadow: 0 0 12px var(--color-shadow);
    &:hover {
      z-index: 3;
      // transform: translateY(-1px);
      box-shadow: 0 4px 28px var(--color-shadow-hover);
      h4 {
        text-decoration: underline;
      }
      .media-display img.main {
        transform: scale(1.01);
        // box-shadow: 0 2px 4px 2px var(--color-shadow);
      }
      .media-display img.blurable {
        transform: translateY(2px) scaleX(0.9);
        filter: blur(8px);
      }
    }
    &:active {
      transform: scale(0.99) translateY(2px);
      box-shadow: inset 0 1px 2px var(--color-shadow-hover);
      background-color: var(--color-background-secondary);
      .media-display img.main {
        transform: unset;
        box-shadow: none;
      }
      .media-display img.blurable {
        transform: scale(0.6);
        box-shadow: none;
      }
    }
  }
  .preload {
    border-radius: $common-border-radius;
    &.meta {
      display: flex;
      .line {
        @include preload-style();
        border-radius: $common-border-radius;
        position: relative;
        &.line-1 { width: 20%; height: 16px; margin-bottom: 8px; }
        &.line-2 { width: 80%; height: 22px; margin-bottom: 4px; }
        &.line-3 { width: 50%; height: 22px; }
        &.line-time { width: 20%; height: 12px; position: absolute; bottom: $common-length; }
      }
    }
    &.media-display {
      @include preload-style();
      position: relative;
      @media screen and (min-width: 321px) and (max-width: 420px) {
        height: 80px;
      }
      @media screen and (min-width: 421px) {
        height: 120px;
      }
    }
  }
  .badge-numbering {
    flex: 0 0 20px;
    font-size: 16px;
    margin-top: -4px;
    text-align: right;
    margin-right: 8px;
    color: var(--color-body-secondary);
  }
  .meta {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    .badge-section {
      font-size: 12px;
      margin-bottom: 4px;
    }
    h4 {
      flex: 1;
    }
    time {
      font-size: 12px;
      color: var(--color-body-secondary);;
    }
  }
  .media-display {
    flex: 0 0 180px;
    margin-left: $common-length * 2;
    img.main {
      transition: transform 0.25s, box-shadow 0.25s;
    }
    img.blurable {
      opacity: 0.75;
      transform: scale(0.8);
      transition: transform 0.25s;
    }
  }
  @media screen and (max-width: 320px) {
    flex-direction: column;
    .badge-numbering {
      text-align: left;
      &::after {
        content: '.'
      }
    }
    .meta {
      margin-bottom: 8px;
    }
    .preload.media-display {
      padding-top: 66.66%;
    }
    .media-display {
      width: 100%;
      flex: initial;
      margin-left: 0;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 420px) {
    .media-display {
      flex: 0 0 120px;
      width: 25%;
    }
  }
}